<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Location</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1051ca72c4.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{fragments/layout :: header-fragment}"></div>
<!--/*@thymesVar id="location" type="com.foxminded.andreimarkov.warehouse.dto.LocationDTO"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <form action="#" th:action="@{/locations/add-location/}" th:object="${location}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <label for="warehouseName">WarehouseName</label>
            <input type="text" th:field="*{warehouseName}" id="warehouseName" placeholder="WarehouseName">
        </div>
        <input type="submit" class="btn btn-primary" value="Add Location">
    </form>
</div>
<hr/>
<i class="fa-solid fa-hand-point-left"></i>
<a href="/locations/get-all.html">Go back</a>
<div th:insert="~{fragments/layout :: footer-fragment}"></div>
</body>
</html>